// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.header {
  border: 1px solid red;
  display: flex;
  align-items: center;
  padding-block: var(--smaller-g-padding);

  nav {
    flex-grow: 1;
  }

  &__nav {
    display: flex;
    align-items: center;
    color: var(--heading-text-color);

    li:first-of-type {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        gap: var(--smaller-g-padding);
        color: currentColor;
        text-decoration: none;
      }
    }
    li:last-of-type {
      display: flex;
      align-items: center;
      gap: var(--g-padding);
    }
    @include b.breakpoint(md, max-width) {
      display: none;
    }
  }
}

.hamburger {
  min-width: auto;
  min-height: auto;
  background-color: transparent;
  border: none;

  @include b.breakpoint(md) {
    display: none;
  }
}
