// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

/* shared styles*/

@mixin iconwithtext {
  display: flex;
  align-items: center;
  gap: var(--smaller-g-padding);

  @include b.breakpoint(md, max-width) {
    > svg {
      transform: rotate(-90deg);
      transition: 150ms transform;
    }
  }
}

@mixin rotate-arrow {
  transform: rotate(0deg) !important;
}

.rotate-arrow {
  @include rotate-arrow;
}

/* end shared styles*/

// <header>
.header {
  // border: 1px solid red;
  display: flex;
  position: relative;
  align-items: center;
  padding-block: var(--smaller-g-padding);
  font-size: f.rem(14);

  @include b.breakpoint(md, max-width) {
    justify-content: space-between;
    font-size: f.rem(16);
  }

  // <nav>
  &__nav {
    flex-grow: 1;

    &--mobile-open {
      @include b.breakpoint(md, max-width) {
        border: 1px solid red;
        display: block;
        position: absolute;
        inset: 100% 0 0 0;

        padding-inline: var(--smaller-g-padding);
        padding-block-start: var(--g-padding);
        height: 100vh;
        overflow-y: auto;

        > ul {
          flex-direction: column;
          align-items: stretch;
          gap: var(--g-padding);

          > li:first-of-type {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: var(--g-padding);

            a {
              // border: 1px solid yellow;
              width: 100%;
            }
          }
          > li:last-of-type {
            flex-direction: column;
            align-items: stretch;
            gap: var(--smaller-g-padding);

            button:first-of-type {
              grid-template-columns: repeat(2, min-content);
              justify-content: center;
            }
          }
        }
      }
    }

    // <ul>
    &__list {
      display: flex;
      align-items: center;
      color: var(--heading-text-color);

      > li:first-of-type {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        > a {
          @include iconwithtext;
        }
      }

      > li:last-of-type {
        display: flex;
        align-items: center;
        gap: var(--g-padding);
      }
    }
  }
}

.header__nav__list__contents {
  --h-n-l-c-background-color: var(--navigation-list-content-background-color);
  --h-n-l-c-border-radius: var(--smaller-b-radius);
  display: none;
  color: var(--text-color);
  background-color: var(--h-n-l-c-background-color);
  border: f.rem(1) solid var(--navigation-list-content-border-color);
  border-radius: var(--h-n-l-c-border-radius);

  a {
    display: block;
    border-radius: var(--smaller-b-radius);
    padding-inline: var(--smaller-g-padding);
    padding-block: calc(var(--smaller-g-padding) / 2);
    color: currentColor;
    text-decoration: none;

    &.active-link {
      color: var(--heading-text-color);
      background-color: var(--text-hover-background-color);
    }
  }
}

.header__nav__list__contents.open {
  display: flex;
}

#header__nav__list__contents--mobile {
  flex-direction: column;
  width: 100%;
  padding: var(--smaller-g-padding);
  border-color: var(--h-n-l-c-background-color);
  gap: var(--smaller-g-padding);

  @include b.breakpoint(md) {
    display: none;
  }

  .nav__list__content {
    > .nav__list__content__header {
      // border: 1px solid blue;
      @include iconwithtext;
    }
    &[open] {
      > summary > svg {
        @include rotate-arrow;
      }
    }
    & > nav {
      display: none;
      padding-inline-start: f.rem(4);
      padding-block-start: var(--smaller-g-padding);

      ul {
        border-inline-start: f.rem(1) solid var(--line-separator-color);
        padding-inline-start: calc(var(--smaller-g-padding) + 2px);
      }
    }
    & > nav.open {
      display: block;
    }
  }
}

#header__nav__list__contents--desktop {
  --h-n-l-c-border-radius: var(--b-radius);
  display: flex; // remove this from here later

  @include b.breakpoint(md, max-width) {
    display: none;
  }

  .nav__list__content__header {
    padding: var(--smaller-g-padding);
    border-block-end: f.rem(1) solid var(--border-color);

    &:first-of-type {
      padding-block-start: var(--smaller-g-padding);
    }
  }

  .nav__list__content__bodies {
    display: flex;
    flex-direction: column;
    gap: f.rem(5);
    border-inline-start: f.rem(1) solid var(--border-color);

    > nav {
      padding-block-end: f.rem(5);
      border-block-end: f.rem(1) solid var(--border-color);

      &:first-of-type {
        padding-block-start: var(--smaller-g-padding);
      }

      &:last-of-type {
        border-block-end: none;
      }

      ul {
        padding-inline: var(--smaller-g-padding);
      }
    }
  }
}

.hamburger {
  min-width: auto;
  min-height: auto;
  background-color: transparent;
  border: none;

  @include b.breakpoint(md) {
    display: none;
  }
}
