// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use "../abstracts/breakpoints" as b;

// public variables
@mixin light-theme {
  --background-color: var(--white);
  --text-color: var(--black-50);
  --heading-text-color: var(--black);
  --icon-color: var(--black);
  --border-color: var(--black-20);
  --line-separator-color: var(--black-50);
  --section-background-color: var(--white);
  --breadcrumbs-color: var(--black-50);
  --language-select-border-color: var(--black-50);
  --code-blocks-default-background-color: var(--secondary);
  --code-blocks-dashed-border-color: var(--black-50);
  --footer-text-color: var(--black-50);

  --active-link: var(--black-10);
  --text-hover-background-color: hsla(0, 0%, 85%, 0.3);

  --navigation-list-content-background-color: var(--white);
  --navigation-list-content-border-color: var(--black-50);

  @include b.breakpoint(md, max-width) {
    --navigation-list-content-background-color: var(--black-10);
    --active-link: var(--black-20);
    --text-hover-background-color: var(--black-10);
  }
}

@mixin dark-theme {
  --background-color: var(--secondary-3);
  --text-color: var(--gray-dark);
  --heading-text-color: var(--white);
  --icon-color: var(--black-20);
  --border-color: var(--black-10);
  --line-separator-color: var(--black-10);
  --section-background-color: var(--secondary-2);
  --breadcrumbs-color: var(--black-10);
  --language-select-border-color: var(--black-10);
  --code-blocks-default-background-color: var(--black-50);
  --code-blocks-dashed-border-color: var(--gray);
  --footer-text-color: var(--gray-dark);

  --active-link: var(--secondary-3);
  --text-hover-background-color: hsla(204, 88%, 7%, 0.5);

  --mobile-menu-background-color-opacity: 0.9;
  --navigation-list-content-background-color: var(--secondary-2);
  --navigation-list-content-border-color: var(--black-10);
}
