// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;

.container {
  padding-inline: var(--g-padding);

  @include b.breakpoint(md, max-width) {
    padding-inline: var(--smaller-g-padding);
  }
}

.clickable {
  cursor: pointer;
}

.show_md {
  display: none;
  @include b.breakpoint(md) {
    display: block;
  }
}

.hide_md {
  display: block;
  @include b.breakpoint(md) {
    display: none;
  }
}

// Hides content and makes it only available to screen readers.
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
